:root {
  --background: #ffffff;

  --header-font: 48px;
  --header-font-weight: 600;
  --h2-font: 36px;
  --h2-font-weight: 600;
  --subheader-font: 24px;
  --subheader-font-weight: 600;
  --text-font: 16px;
  --text-font-weight: 500;

  --font-dark: #18283b;
  --font-light: #8392a5;

  --navbar-width: 256px;
  --navbar-width-min: 80px;
  --navbar-dark-primary: #18283b;
  --navbar-dark-secondary: #2c3e50;
  --navbar-light-primary: #f5f6fa;
  --navbar-light-secondary: #8392a5;
}

html,
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}
