.home-header {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-dark);
  margin-bottom: 1vw;
}
.home-subheader {
  margin-bottom: 1vw;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.home-header-actions {
  display: flex;
  gap: 10px;
}

.subheader {
  margin-bottom: 1vw;
}
