Django==4.2.3
psycopg2-binary==2.9.9
google-news-feed==1.1.0
news-please
scikit-learn
celery==5.3.6
redis
djangorestframework
django-cors-headers
djangorestframework-simplejwt
sendgrid==6.11.0
python-dotenv==1.0.1