.category-header {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-dark);
  margin-bottom: 1vw;
}

.category-header-actions {
  display: flex;
  gap: 10px;
}

.category-subheader {
  margin-bottom: 1vw;
}

.no-search-message {
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #666;
}
