#page {
  width: 100vw;
  height: 100vh;
  margin-left: calc(var(--navbar-width) + 2vw);
  margin-right: 1vw;
  background: var(--background);
  color: var(--navbar-light-primary);
}

#header {
  font-size: var(--header-font);
  color: var(--font-dark);
  font-weight: var(--header-font-weight);
  padding: 0;
}

#h2 {
  font-size: var(--h2-font);
  color: var(--font-dark);
  font-weight: var(--h2-font-weight);
  padding: 0;
}

#subheader {
  font-size: var(--subheader-font);
  color: var(--font-dark);
  font-weight: var(--subheader-font-weight);
  padding: 0;
}

#subheader-light {
  font-size: var(--subheader-font);
  color: var(--font-light);
  font-weight: var(--subheader-font-weight);
  padding: 0;
}

#text {
  font-size: var(--text-font);
  color: var(--font-light);
  font-weight: var(--text-font-weight);
  padding: 0;
}
